 /*
Nama Website : Aquafish Marketplace
Nama Kelompok : Ikan Dewa
Nama & NPM : 
    1. Affan Rifqy Kurniadi         - 140810200003
    2. Rheza Pandya Andhikaputra    - 140810200023
    3. Andyka Baswara Putra         - 140810200061
Kelas : A
Tugas : Project Website Praktikum Pemrograman Web
*/

/*FONT FAMILY*/
@font-face {
    font-family: Gotham-Medium;
    src: url(assets/Fonts/Gotham-Font/GothamMedium.ttf);
}
@font-face {
    font-family: Lato-Medium;
    src: url(assets/Fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(assets/Fonts/Lato/Lato-Light.ttf);
}

/*UNIVERSAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*HEADER & FOOTER*/
.navbar1 {
    background: #004A4D; 
    width: 100%; 
    height: 65px; 
    position: sticky;
}
nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.logo{
    flex: 1;
    font-size: 36px;
    color: white;
    font-family: Gotham-Medium;
    margin-left: 70px;
    letter-spacing: 5px;
    font-weight: 100;
}
.items{
    display: inline-flex;
    margin-right: 30px;
}
.account{
    margin-top: 10px;
    display: inline-flex;
    margin-right: 20px;
}
.items a{
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: white;
    font-family: Lato-Medium;
}
.account a{
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    color: white;
}
.items a:hover{
    text-decoration: underline;
    color: white;
} 
nav ul input{
    margin-right: 10px;
    height: 25px;
    width: 540px;
    border: none;
    outline: none;
    padding: 10px;
}

/*CATALOG*/
.catalog-img {
    width: 240px;
    height: 240px;
    margin-top: 20px;
}
.catalog-text-1{
    margin-top: 7px;
    border-bottom:1px solid black;
    width: 92%;
    padding-bottom: 7px;
    font-family: Lato-Medium;
    font-size: 14px;
    font-weight: bold;
}
.catalog-text-2{
    margin-top: -5px;
    font-family: Lato-Medium;
    font-size: 14px;
}
.footer1{
    width : 100%;
    background: #004A4D;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*LANDING*/
.landing-text-1 {
    font-family: Gotham-Medium;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding: 20px;
}
.landing-text-2 {
    margin-top: 8px;
    width: 92%;
    padding-bottom: 10px;
    font-family: Lato-Medium;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.landing-text-3{
    flex: 1;
    font-size: 28px;
    color: black;
    font-family: Gotham-Medium;
    margin-left: 10px;
    letter-spacing: 5px;
    font-weight: 100;
}
.landing-text-4 {
    margin-left: 10px;
    font-size: 14px;
    text-align: justify;
}
.landing-banner {
    width: 97%;
    height: 160px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.landing-img {
    width: 100%;
    height: 240px;
    margin-top: 20px;
}
.landing-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: silver;
    padding: 9px;
    border-radius: 5px;
}
.landing-card-img {
    width: 70px;
    height: 90px;
    border-radius: 5px;
}
.landing-card-star-yellow {
    color:yellow;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
}
.landing-card-star-white {
    color:white;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
}

/*Login Box*/
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 330px;
    width: 330px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.login-banner {
    background-image : url("assets/Pics/login-wave.jpg");
    background-size: cover;
    padding: 7px;
    background-position: -5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.login-text-1{
    flex: 1;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: Gotham-Medium;
    letter-spacing: 5px;
    font-weight: 100;
}
.form-login {
    line-height: 10px;
}
.login-input {
    margin-top: -20px;
    width: 240px;
}
.login-input-text-1 {
    font-size: 12px;
    font-family: Lato-Light;
}
.login-input-text-2 {
    font-size: 9px;
    font-family: Lato-Light;
    text-align: right;
}
.login-input-logo {
    width: 15px;
    height: 15px;
}
#login-input-submit {
    padding: 8px;
    padding-left: 101px;
    padding-right: 101px;
    font-family: Lato-Light;
    background-color: #004A4D;
    color: white;
    vertical-align: middle;
    border: none;
}

/*Register Box*/
.register-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 473px;
    width: 330px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.register-banner {
    background-image : url("assets/Pics/login-wave.jpg");
    background-size: cover;
    padding: 7px;
    background-position: -5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.register-text-1{
    flex: 1;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: Gotham-Medium;
    letter-spacing: 5px;
    font-weight: 100;
}
.form-register {
    line-height: 10px;
}
.register-input {
    margin-top: -20px;
    width: 260px;
}
.register-input-text-1 {
    font-size: 12px;
    font-family: Lato-Light;
}
.register-input-text-2 {
    font-size: 9px;
    font-family: Lato-Light;
    text-align: right;
}
.register-input-logo {
    width: 15px;
    height: 15px;
}
#register-input-submit {
    padding: 8px;
    padding-left: 101px;
    padding-right: 101px;
    font-family: Lato-Light;
    background-color: #004A4D;
    color: white;
    vertical-align: middle;
    border: none;
}

/*Edit Account*/
.edit-account-text-1 {
    font-family: Gotham-Medium;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
}
.edit-account-text-2{
    flex: 1;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: Gotham-Medium;
    letter-spacing: 5px;
    font-weight: 100;
}
.edit-account-data-box {
    width: 280px;
    height: 33px;
    box-sizing: border-box;
    border: 1px solid black;
}
.form-edit-account {
    line-height: 10px;
}
.edit-account-input {
    margin-top: -10px;
    width: 280px;
    height: 33px;
    border: 1px solid black;
}
#edit-account-input-submit {
    padding: 10px;
    padding-left: 108px;
    padding-right: 108px;
    font-family: Lato-Light;
    background-color: #004A4D;
    color: white;
    vertical-align: middle;
    border: none;
}