<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<style>
    .container{
    width: 533px;
    height: 575px;
    max-width: 533px;
    max-height: 575px;
    background-color:white;
    margin: auto;
    text-align: center;
}

    .input-box span{
    text-align: left;
}
</style>
<body>
    <div class="container">
        <div>

        </div>
        <div class="input-box">
            <span>Alamat Email *</span><br>
            <input type="text"  id="email-address">
        </div>
        <div class="input-box">
            <span>Kata Sandi *</span><br>
            <input type="text" id="password">
        </div>
        <div class="input-box">
            <span>Nama Lengkap</span><br>
            <input type="text" id="name">
        </div>
        <div class="input-box">
            <span>Tanggal Lahir</span><br>
            <input type="date" id="birth">
        </div>
        <div class="button">
            <input type="submit" value="Register"><br>
            <span>Sudah punya akun? Login disini</span>
        </div>
    </div>
</body>
</html>